!!!
html
  head
    title= title
    script(src="/jquery.min.js")
    script(src="/controller.js")
    script(src="/socket.io/socket.io.js")
    link(rel="stylesheet", href="/styles.css")
  body
    ul
      li: a(href="/controller", target="_blank")= "The controller"
      li: a(href="/beamer", target="_blank")= "The Beamer"